body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;

}

h2 {
    font-size: 40px;
}

.color {
    color: orange;

}

.flexible-container {
    display: flex;
    margin-bottom: 100px;

}

.half-width {
    width: 50%;
    padding-left: 4%;

}

.half-width img {
    width: 70%;
    padding-left: 10%;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    color: aliceblue;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}

.Big-Dream {
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px;
    border-radius: 10px;
    padding-left: 30px;

}

.experience-area {
    background-image: url(img/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;

}

#baby {
    border-left: 7px solid cornflowerblue;
    box-shadow: 10px 10px 40px cornflowerblue;
}

#full {
    border-left: 7px solid crimson;
    box-shadow: 10px 10px 40px crimson;
}

footer p {
    text-align: center;
}